/* inject base styles from tailwind and other registered plug-ins */
@tailwind base;
/* inject component classes from tailwind and other registered plug-ins */
@tailwind components;
/* inject utility classes from tailwind and other registered plug-ins */
@tailwind utilities;

/* css start */
img {
  max-width: 100%;
}

ol,
ul,
li {
  list-style-type: none;
}

body {
  background-color: #333;
}